<div class="container-fluid">
  <div class="row" id="footer">
    <div class="col-sm-3 text-center">
      <button class="btn btn-link">Bootstrap: <img src="../../assets/Images/bs-logo.png" class="img-fluid"></button>
    </div>
    
    <div class="col-sm-3 text-center">
      <button class="btn btn-link">Squiggle API: <img src="../../assets/Images/sq-logo.png" class="img-fluid"></button>
    </div>
    
    <div class="col-sm-3 text-center">
    <button class="btn btn-link">Angular: <img src="../../assets/Images/an-logo.png" class="img-fluid"></button>
    </div>   

    <div class="col-sm-3 text-center">
        <p id="copy">Website by Paul Wright, Nick Brough and Paul Ballard 2019</p>
    </div>     
  </div>
</div>